hr {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prociono', serif;
}

a {
  text-decoration: none;
}

/* ------------ Top navigation ---------- */
.top-menu {
  font-family: 'Bitter', serif;
}

.side-bar {
  height: 40px;
  top: 5px;
  position: absolute;
  width: 96%;
  left: 2%;
}

.side-bar .logo {
  padding-left: 12px;
  padding-top: -10px;
  margin-top: 0;
  flex: 2;
  display: flex;
  align-items: center;
}

.name {
  flex: 4;
}

.side-menu-contener {
  flex: 1;
}

/* ------------ Side Navigation -------------------- */
.side-menu {
  position: relative;
  flex: 1;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.side-menu .menu a {
  color: white;
  font-size: 20px;
}

.menu-list {
  position: absolute;
  top: 40px;
  right: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  transition: 0.4s;
}

.side-menu:hover .menu-list {
  width: 55px;
}

.menu-list div {
  margin: 0;
  padding: 10px 5px;
  border: 1 soild white;
  border-radius: circle;
}

.menu-list div a {
  color: #fff;
  padding: 10px;
}

#hero {
  background-image: url(./images/portfolio.jpg);
  background-size: cover;
  background-position: center;
  top: -40px;
  height: 100vh;
  width: 100%;
}

.icon {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

/* --------- Containers -------------- */
.container-fluid {
  padding: 0;
  top: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* --------- Information ------------------ */
.information {
  padding-top: 200px;
  width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 3px 3px #2c3e50;
}

@media (min-width: 768px) {
  .information {
    padding-top: 150px;
    width: 600px;
  }

  .information h1, h2 {
    font-size: 50px;
  }
}

.full-name hr {
  width: 600px;
  height: 1px;
}

.link {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-element {
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a {
  color: #fff;
  padding: 0;
}

.project .description, .about {
  text-align: justify;
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.project a {
  color: black;
}
